include locale/*.mo
include locale/*.pot
include locale/*.po
include samples/*.json
include sources/common/*.py
include sources/config/*.json
include sources/db_extractor/*.py
include sources/*.py
include test/*.json
include test/*.py
